In [1]:
import pandas as pd
from sklearn.model_selection import train_test_split

In [2]:
data=pd.read_csv('C:/Users/hp/anaconda_work/project649/datamunge/dataset/sign_mnist_train/sign_mnist_train.csv')
data.head()

,label,pixel1,pixel2,pixel3,pixel4,pixel5,pixel6,pixel7,pixel8,pixel9,...,pixel775,pixel776,pixel777,pixel778,pixel779,pixel780,pixel781,pixel782,pixel783,pixel784
0,3,107,118,127,134,139,143,146,150,153,...,207,207,207,207,206,206,206,204,203,202
1,6,155,157,156,156,156,157,156,158,158,...,69,149,128,87,94,163,175,103,135,149
2,2,187,188,188,187,187,186,187,188,187,...,202,201,200,199,198,199,198,195,194,195
3,2,211,211,212,212,211,210,211,210,210,...,235,234,233,231,230,226,225,222,229,163
4,13,164,167,170,172,176,179,180,184,185,...,92,105,105,108,133,163,157,163,164,179

In [3]:
y=data.label
x=data.drop('label',axis=1)

In [4]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2)
x_train.head()

,pixel1,pixel2,pixel3,pixel4,pixel5,pixel6,pixel7,pixel8,pixel9,pixel10,...,pixel775,pixel776,pixel777,pixel778,pixel779,pixel780,pixel781,pixel782,pixel783,pixel784
8625,120,124,126,129,131,133,136,137,139,140,...,99,184,174,173,174,173,172,170,169,168
16691,90,94,89,88,87,88,90,90,90,92,...,122,122,120,121,120,123,112,159,200,180
10390,39,39,43,28,134,144,99,69,64,73,...,65,65,65,65,67,68,62,66,143,126
26476,191,196,198,200,204,207,209,210,213,213,...,255,252,253,252,250,247,245,245,243,243
14702,189,189,190,191,192,192,193,192,192,192,...,57,49,131,144,145,147,151,153,93,57

In [5]:
x_train.shape

(21964, 784)

In [ ]:
x_test.head()

In [ ]:
x_test.shape

In [7]:
from sklearn.neighbors import KNeighborsClassifier
modelKNN = KNeighborsClassifier(n_neighbors=11, n_jobs=-1)
modelKNN.fit(x_train, y_train)

KNeighborsClassifier(n_jobs=-1, n_neighbors=11)

In [9]:
y_predKNN = modelKNN.predict(x_test)
y_predKNN

array([ 6, 17, 22, ..., 10,  5, 21], dtype=int64)

In [13]:
from sklearn.metrics import classification_report, confusion_matrix, accuracy_score
print(classification_report(y_test, y_predKNN))

              precision    recall  f1-score   support

           0       0.99      1.00      1.00       218
           1       0.96      1.00      0.98       192
           2       1.00      1.00      1.00       220
           3       1.00      1.00      1.00       253
           4       0.98      0.99      0.99       192
           5       1.00      0.99      1.00       238
           6       0.99      1.00      1.00       226
           7       1.00      0.98      0.99       204
           8       1.00      0.97      0.99       240
          10       1.00      0.99      0.99       226
          11       1.00      1.00      1.00       237
          12       0.99      0.97      0.98       233
          13       0.98      0.99      0.99       235
          14       1.00      1.00      1.00       244
          15       1.00      1.00      1.00       215
          16       1.00      1.00      1.00       246
          17       0.98      0.97      0.98       271
          18       0.97      1.00      0.98       230
          19       0.97      1.00      0.98       223
          20       0.98      0.98      0.98       243
          21       0.95      0.99      0.97       201
          22       0.99      0.94      0.97       245
          23       1.00      0.98      0.99       224
          24       1.00      1.00      1.00       235

    accuracy                           0.99      5491
   macro avg       0.99      0.99      0.99      5491
weighted avg       0.99      0.99      0.99      5491

In [15]:
print("Accuracy Score:",accuracy_score(y_test,y_predKNN))

Accuracy Score: 0.9883445638317246

In [16]:
from sklearn.svm import SVC
svclass = SVC(kernel='rbf')
svclass
svclass.fit (x_train, y_train)

SVC()

In [17]:
y_predSVM = svclass.predict(x_test)
y_predSVM

array([ 6, 17, 22, ..., 10,  5, 21], dtype=int64)

In [18]:
print(classification_report(y_test, y_predSVM))

              precision    recall  f1-score   support

           0       1.00      1.00      1.00       218
           1       1.00      1.00      1.00       192
           2       1.00      1.00      1.00       220
           3       1.00      1.00      1.00       253
           4       1.00      1.00      1.00       192
           5       1.00      1.00      1.00       238
           6       1.00      1.00      1.00       226
           7       1.00      1.00      1.00       204
           8       1.00      1.00      1.00       240
          10       1.00      1.00      1.00       226
          11       0.99      1.00      1.00       237
          12       1.00      1.00      1.00       233
          13       1.00      1.00      1.00       235
          14       1.00      1.00      1.00       244
          15       1.00      1.00      1.00       215
          16       1.00      1.00      1.00       246
          17       1.00      1.00      1.00       271
          18       1.00      1.00      1.00       230
          19       1.00      1.00      1.00       223
          20       1.00      1.00      1.00       243
          21       1.00      1.00      1.00       201
          22       1.00      1.00      1.00       245
          23       1.00      0.99      1.00       224
          24       1.00      1.00      1.00       235

    accuracy                           1.00      5491
   macro avg       1.00      1.00      1.00      5491
weighted avg       1.00      1.00      1.00      5491

In [23]:
print("Accuracy Score:", accuracy_score(y_test,y_predSVM))

Accuracy Score: 0.9996357676197414